.App-Content{
  display: flex;
  flex-direction: row;
}
.sidebar {
  display: flex;
  width: 15%;
}

.main-content {
  display: flex;
  width: calc(86% - 10px);
  flex-direction: column;
}
.moves-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 20px;
}
.address {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 18%;
  padding-top: 20px;
  padding-bottom: 16px;
}
.icon {
  padding-top: 20px;
}
.move-details {
  display: flex;
  flex-direction: row;
  gap: 7%;
}
.view-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
  padding-right: 70px;
}
.fun-item {
  display: flex;
  gap: 10%;
}
.living {
  display: flex;
  gap: 31%;
  /* justify-content: space-evenly; */
}
.furnture {
  display: flex;
  flex-direction: row;
  gap: 50%;
  padding-top: 28px;
}
.all-catg {display: flex;flex-direction: column;gap: 10px;}

.content {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.coun {
  padding-left: 26px;
  font-weight: 600;
}
.header {
  padding-bottom: 12px;
  /* padding-right: 46px; */
  display: flex;
  /* gap: 186px; */
  justify-content: space-between;
  padding-right: 5px;
}
.sub-header {
  font-weight: 600;
}
.cat-name {
    font-weight: 900;
}
.room-type {
  width: 100%;
  background: #e7e6e8;
  padding: 10px;
  border-radius: 3px;
  color: #ff6747;
  font-weight: bold;
}
.requestid-styl {
  color: #ff6747;
  font-weight: 800;
}
button.btn-1 {
  border-style: none;
  background: white;
  border: 2px solid #ff6747;
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  color: #ff6747;
}
button.btn-2 {
  border-style: none;
  background: #ff6747;
  border: 2px solid #ff6747;
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  color: #ffffff;
}
.btn-style {
  display: flex;
  gap: 15px;
  /* justify-content: space-between; */
  padding-left: 9%;
}
.Inventory-view {
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* border-radius: 13px; */
}
.inventory-detail {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.inventory-label {
  font-weight: bold;
  /* font-size: 18px; */
}
button.inventory-btn {
  background-color: black;
  padding: 4px 15px 4px 15px;
  color: white;
  border-style: none;
  border-radius: 3px;
}
.title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 33px;
}
.from-styl {
  font-weight: bolder;
}
.disclaimer {
  display: flex;
}
.Disclaimer-styl {
  font-weight: bolder;
}
.btm-border {
  border-bottom: 1px solid #b4b4b4;
}
input[type="checkbox"] {
  /* color: orange; */
  /* background-color: orange; */
  accent-color: #ff6747;
}
.sidebar {
  display: flex;
  width: 11%;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 3%;
  gap: 30px;
  font-weight: 700;
  font-size: 16px;
}